#mainAbout {
    background-color:#1e1e1e;
    padding: 10px;
    min-height: 100vh;
}

.blue {
    color:#569cd6;
}

.lightGreen {
    color: #dcdcaa
}

.yellow {
    color:#ffd700;
}

.red {
    color: #ce9178;
}

#avatarIcon {
    width: 150px;
    height: 150px;
    float: left;
    border: solid black 2px;
    margin: 12px 10px 5px 0;
    background-color: #323233;
}

#aboutMeText {
    color: #98dcfe;
    font-size: small;
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    #mainAbout {
        padding: 20px;
    }
    #avatarIcon {
        width: 350px;
        height: 350px;
        margin-top: 14px
    }
    #aboutMeText {
        font-size: x-large;
    }
  }

@media only screen and (min-width: 1080px) {
    #aboutMeContainer {
        /* margin-top: 20px;
        margin-left: auto;
        margin-right: auto; */
        margin: 50px auto 50px auto;
        width: 1024px;
    }
}