#mainContact {
    background-color:#1e1e1e;
    color: #98dcfe;
    font-size: small;
    justify-content: center;
    height: 100vh;
}

#contactForm {
    width: 94%;
}

#contactFormTitle {
    margin-top: 10px;
}

form {
    font-size: 26px;
    margin-top: 5px;
    padding: 5px;
}

.formItem {
    margin: 5px 0 5px 0;
}

label {
    display: block;
}

input {
    background-color: #323233;
    color: #98dcfe;
    outline: none;
    width: 98%;
}

textarea {
    background-color: #323233;
    color: #98dcfe;
    outline: none;
    height: 52px;
    width: 98%;
    resize: none;
}

#formSubmit {
    height: 22px;
}

.requiredFieldMessage {
    color: #ce9178;
}

@media only screen and (min-width: 768px) {
    #mainContact{
        justify-content: center;
    }
    #contactForm {
        width: 550px;
    }
    textarea {
        height: 78px;
    }

}