#footer {
    height: auto;
    background-color: #252526;
    align-items: center;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
}

#footer li {
    display: inline;
}

footer ul {
    align-items: center;
}

img {
    width: 30px;
}

#footerInfo {
    flex-flow: column;
    align-items: flex-start;
    /* padding-top: 5%; */
    height: 80%;
}

#footerInfo h4 {
    color: white;
    font-size: x-small;
}