#nav {
    background-color:#252526;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.navItem {
    margin: 0 5px 0 5px; 
    color:#98dcfe ;

}

#nav a {
    text-decoration: none;
    font-size: small; 
}

.activeNavItem {
    margin: 0 5px 0 5px; 
    color: #ce9178;
}



#nav li {
    display: inline;
}