#view {
    min-height: 100vh;
    background-color:#1e1e1e;

}
#mainProject {
    align-items: center;
    flex-flow: column;
    padding-top: 10px
}

.projectCard {
    background-color: #323233;
    width: 900px;
    padding: 30px 30px;
    margin: 20px 10px;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
}

.projectCard h1 {
    align-self: start;
    color: #ce9178;
    margin-bottom: 20px;
    width: 100%;
}

.projectCard p {
    align-self: start;
    color: #98dcfe;
    font-size: 28px;
    margin-bottom: 20px;
}

.projectImage {
    width: 100%;
    border: solid 4px #1e1e1e;
    height: auto;
    margin-bottom: 20px;
}

.projectCard h2 {
    color: #98dcfe;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.projectLinkContainer {
    width: 100%;
    margin: 20px 0 25px 0;
    justify-content: space-around;
}

.projectLinkContainer button {
    background: none;
    border: solid #569cd6 2px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px .8em;
    color: #569cd6;
    cursor: pointer;
    font-size: 30px
}

.projectLinkContainer button:hover {
    border-color: #ce9178;
    color: #ce9178;
}

.projectLinkContainer button:active {
    border-color: #569cd6;
    color: #569cd6;
}

@media only screen and (max-width: 1024px) {
    .projectCard {
        width: 85%;
        padding: 10px 15px;
    }
    .projectCard h1 {
        margin-bottom: 10px;
        width: 100%;
        font-size: 18px;
    }
    .projectCard p {
        align-self: start;
        color: #98dcfe;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .projectImage {
        margin-bottom: 20px;
    }
    .projectCard h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .projectLinkContainer button {
        padding: 8px .8em;
        font-size: 22px
    }
}

@media only screen and (max-width: 768px) {
    .projectCard {
        width: 80%;
        margin: 15px 0;
    }
    .projectLinkContainer button {
        padding: 8px .8em;
        font-size: 14px
    }
}

@media only screen and (max-width: 425px) {
    .projectLinkContainer button {
        padding: 8px .8em;
        font-size: 10px
    }
}

