.flex {
    display: flex;
}

#projectContainer {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#1e1e1e;
    color: #98dcfe;
    font-size: small;
}

.blue {
    color:#569cd6;
}

.lightGreen {
    color: #dcdcaa
}

.yellow {
    color:#ffd700;
}

.projectCard {
    background-color: #323233;
    padding: 5px;
}

.projectAnchor {
    text-decoration: none;
    color: #98dcfe;
    margin: 10px 10px 0px;
    width: 100%;
}

.projectIndent {
    margin-left: 40px;
}
.deployedLink {
    text-decoration: none;
    color: #98dcfe;
    background-color: #323233;
}

.aboveDep {
    margin-bottom: 8px;
}