#mainResume {
    background-color:#1e1e1e;
    padding: 10px 10px 10px 10px;
    color: #98dcfe;
    min-height: 100vh;
}

#resumeContainer{
    margin-bottom: 40px;
}

#resumeDownload {
    text-decoration: none;
    color: #dcdcaa;
    font-size: x-large;
}

#profContainer {
    margin: 10px 0;
}

#profHeader {
    margin: 0 0 5px 0;
}

.profListItem {
    font-size: large;
    margin-left: 28px;
}

@media only screen and (min-width: 1024px) {
    #mainResume {
        justify-content: center;
    }
    #resumeContainer {
        padding-top: 30px;
        width: 1000px;
    }
}