#main {
    height: 100vh;
    background-color:#1e1e1e;
    padding: 10px 10px 10px 10px;
    color: #98dcfe;
}

#resumeDownload {
    text-decoration: none;
    color: #dcdcaa;
    font-size: larger;
}

#profContainer {
    margin-top: 10px;
}