#main {
    background-color:#1e1e1e;
    padding: 10px 10px 10px 10px;
    color: #98dcfe;
}

#resumeDownload {
    text-decoration: none;
    color: #dcdcaa;
    font-size: x-large;
}

#profContainer {
    margin-top: 10px;
}

#profHeader {
    margin: 0 0 5px 0;
}

.profListItem {
    font-size: large;
    margin-left: 28px;
}