#mainStack {
    background-color:#1e1e1e;
    padding: 10px 10px 10px 10px;
    color: #98dcfe;
    justify-content: center;
}

.flex {
    display: flex;
}

#stackContainer {
    width: 100%;
}

.stackTitle {
    margin-left: 10px;
}

.stackIconOuterContainer {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px
}


.stackIconSingleContainer{
    flex-flow: column;
    align-items: center;
    margin: 0px 15px 15px 15px;
}

.stackIconSingleContainer h4{
    margin-bottom: 10px;
    font-size: large;
}

.iconImage {
    width: 100px;
    height: 100px;
}



@media only screen and (min-width: 768px) {
    .stackIconSingleContainer h4{

        font-size: x-large;
    }
}

@media only screen and (min-width: 1024px) {
    #stackContainer {
        width: 1000px;
    }
}