* {
    margin: 0;
    padding: 0;
    font-family: Consolas, monaco, monospace;
}

.flex {
    display: flex;
}






#nav {
    height: 75px;
    background-color:#323233;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0 2%;
}

.navItem {
    color:#98dcfe ;
    text-decoration: none;
    font-size: xx-large; 
}

#nav a {
    color:#98dcfe ;
    text-decoration: none;
    font-size: xx-large; 
}

#nav li {
    display: inline;
}








#main {
    height: 1000px;
    background-color:#1e1e1e;
}

#aboutMeText {
    color: #98dcfe;
    font-size: small;
}









#footer {
    height: 100px;
    background-color: #323233;
    align-items: center;
    padding: 0 2% 0 2%;
    justify-content: space-between;
}

#footer li {
    display: inline;
}

footer ul {
    align-items: center;
}

img {
    width: 80%;
}

#footerInfo {
    flex-flow: column;
    align-items: flex-start;
    /* padding-top: 5%; */
    height: 80%;
}

#footerInfo h4 {
    color: white;
    font-size: small;
}